.user-info {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: $m-whitespace / 2;
  }

  &__avatar {
    width: 4rem;
    border-radius: 50%;
  }

  &__name {
    flex-grow: 1;
  }

  &__more {
    align-self: center;
  }
}
