// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-white: #fefefe;
$c-links: #2dbaa9;
$c-like: #ffaaaa;

$m-whitespace: 1rem;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'suggestions';
@import 'card-heading';
@import 'user-info';
@import 'buttons';

.post {
  padding: $m-whitespace / 2;
  background: $c-white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

  &__pic {
    margin: 0 (-$m-whitespace / 2);

    &:last-of-type {
      margin-bottom: -$m-whitespace / 2;
    }
  }

  > * + * {
    margin-top: $m-whitespace / 2;
  }
}

.square-box {
  position: relative;

  // Padding Top % refers to width
  padding-top: 100%;
  background: #ffaaaa;

  &__pic {
    display: block;
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: right;

    filter: sepia(0.2) hue-rotate(10deg);
  }
}

.pricing-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    display: none;

    &:checked + .btn {
      background: $c-like;
      color: $c-white;
    }
  }

  &__like-btn {
    border-color: $c-like;
    color: $c-like;

    &:hover {
      background: rgba($c-like, 0.5);
    }
  }

  &__price {
    &::first-letter {
      color: #777;
    }
    // Creates "fake HTML" with this content at the start of our price p tag
    // &::before {
    //   content: '$';
    // }
  }
}
