// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-white: #fefefe;
$c-links: #2dbaa9;

$m-whitespace: 1rem;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'suggestions';
@import 'card-heading';
@import 'user-info';
@import 'buttons';

.post {
  padding: $m-whitespace / 2;
  background: $c-white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
